.button
{
    border: none;
    font-size: 25px;
}

input[type=button]:enabled
{
    .button;
    background-color: #FFF;
    color :#000;
    cursor: pointer;
}

input[type=button]:disabled
{
    .button;
    background-color: #CCC
    color : #777;
}

.checkbox
{
    position: relative;
    background-color: white;
    width: 25px;
    height: 25px;
    top: 7px;
}

.label
{
    display: block;
    padding-left: 10px;
    font-size: 25px;
    color:white;
}